#pl_top {
    width: 600px;
    height: 200px;
    margin: 10px auto;
    background-color: #AAA;
}

#pl_middle {
    width: 600px;
    height: 300px;
    margin: 10px auto;
    background-color: #CAB;
}

#pl_bottom {
    width: 600px;
    height: 100px;
    margin: 10px auto;
    background-color: #ABC;
}