#pl_top {
    width: 600px;
    height: 200px;
    margin: 10px auto;
    background-color: #AAA;
}

#pl_middle {
    width: 600px;
    height: 300px;
    margin: 10px auto;
    background-color: #CAB;
}

#pl_bottom {
    width: 600px;
    height: 100px;
    margin: 10px auto;
    background-color: #ABC;
}

.testBtn {
    width: 300px;
    height: 200px;
    background-color: #AABBCC;
    margin: 20px;
    font-size: 36px;
}